@page
@model PaymentSystemSandbox.Pages.RegularUser.SendMoneyModel

@{
    ViewData["Title"] = "SendMoney";
}


<h1>SendMoney</h1>

<h4>PaymentTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" id="walletForm">
            <input id="FromWalletId" hidden="hidden" asp-for="PaymentTransaction.FromWalletId" value="@ViewBag.WalletId"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  asp-for="PaymentTransaction.ToWalletId" class="control-label"></label>
                <select id="ToWalletId" asp-for="PaymentTransaction.ToWalletId" class ="form-control" asp-items="ViewBag.ToWalletId"></select>
            </div>
            <div class="form-group">
                <label  asp-for="SelectedPayment" class="control-label"></label>
                <select id="SelectedPayment" asp-for="SelectedPayment" class ="form-control" asp-items="ViewBag.Payments"></select>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTransaction.Price" class="control-label"></label>
                <input id="Price" asp-for="PaymentTransaction.Price" class="form-control" max="@ViewBag.MaxPrice" min="@ViewBag.MinPrice"/>
                <span asp-validation-for="PaymentTransaction.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Transfer" class="btn btn-primary" />
            </div>
        </form>
        <div id="pay_btn"></div>
        <div id="pay_page"></div>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $('#Price').on('change', function (event) {
                var value = parseFloat(event.target.value)
                if (value) {
                    $("#pay_btn").load(`?handler=PayButtonPartial&amount=${value}`);
                }
            });
            $("#pay_btn").load('?handler=PayButtonPartial&amount=30');
            $("#SelectedPayment").on('change', function (event) {
                var payment = event.target.value;
                if (payment) {
                    $.ajax({
                        method: "get",
                        url: `?handler=PaymentChange&payment=${payment}`
                    }).then(minPrice => {
                        $("#Price").attr({"min": minPrice});
                        $("#Price").focusout();
                    });
                }
            })
        });
    </script>
}
