@page
@model PaymentSystemSandbox.Pages.RegularUser.SendMoneyModel

@{
    ViewData["Title"] = "SendMoney";
}


<h1>SendMoney</h1>

<h4>PaymentTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input hidden="hidden" asp-for="PaymentTransaction.FromWalletId" value="@ViewBag.WalletId"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaymentTransaction.ToWalletId" class="control-label"></label>
                <select asp-for="PaymentTransaction.ToWalletId" class ="form-control" asp-items="ViewBag.ToWalletId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTransaction.Price" class="control-label"></label>
                <input asp-for="PaymentTransaction.Price" class="form-control" max="@ViewBag.MaxPrice" oninput="effectChangeSum(this.value)"/>
                <span id="total_sum"></span>
                <script>
                    function effectChangeSum(val) {
                        let p = document.getElementById("total_sum")
                        let parsedValue = parseFloat(val)
                        if (!parsedValue || parsedValue > @ViewBag.MaxPrice) {
                            p.innerText = '';
                            return;
                        }
                        let commission = @ViewBag.TaxInPercent
                        console.log(commission, typeof commission);
                        let total = parsedValue * (1 + commission / 100);
                        total = total.toFixed(2);
                        p.innerText = `The tax is ${commission}%. Total price wiil be ${total}`
                    }

                    effectChangeSum(12);
                </script>
                <span asp-validation-for="PaymentTransaction.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Transfer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
